# Introduction to Problem #

## Task 1.1 ##

In [105]:
#Import libraries
import pandas as pd
import numpy as np

In [106]:
# reading the csv file using pandas.read_csv()
data=pd.read_csv('HEROMOTOCO.csv')

In [107]:
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HEROMOTOCO,EQ,15-May-2017,3541.50,3541.0,3558.00,3504.60,3518.0,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38
1,HEROMOTOCO,EQ,16-May-2017,3515.45,3529.5,3631.80,3491.10,3623.0,3619.40,3561.42,372398,1.326266e+09,33654,147610,39.64
2,HEROMOTOCO,EQ,17-May-2017,3619.40,3615.0,3683.95,3595.05,3634.1,3645.95,3651.06,338342,1.235308e+09,27003,160855,47.54
3,HEROMOTOCO,EQ,18-May-2017,3645.95,3600.0,3639.00,3577.05,3586.0,3592.05,3602.46,294013,1.059170e+09,23822,143430,48.78
4,HEROMOTOCO,EQ,19-May-2017,3592.05,3597.0,3656.00,3533.75,3565.0,3571.65,3593.06,270446,9.717284e+08,26291,113208,41.86

In [108]:
df=data[data['Series']== 'EQ']

In [109]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
489,HEROMOTOCO,EQ,07-May-2019,2531.30,2567.9,2568.00,2521.50,2529.00,2527.35,2546.23,347427,8.846276e+08,29584,129747,37.35
490,HEROMOTOCO,EQ,08-May-2019,2527.35,2525.8,2540.85,2481.60,2496.00,2499.70,2515.26,406025,1.021259e+09,32136,176406,43.45
491,HEROMOTOCO,EQ,09-May-2019,2499.70,2499.0,2555.00,2490.60,2540.00,2537.75,2536.33,585480,1.484972e+09,40511,203100,34.69
492,HEROMOTOCO,EQ,10-May-2019,2537.75,2535.0,2560.00,2500.05,2506.05,2507.30,2529.09,332771,8.416086e+08,23272,118956,35.75
493,HEROMOTOCO,EQ,13-May-2019,2507.30,2507.3,2537.50,2500.00,2509.05,2510.75,2520.21,313902,7.911003e+08,23484,117837,37.54

In [110]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.00000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,3380.030061,3385.91164,3416.863968,3343.728138,3377.351113,3377.943522,3380.096478,4.444292e+05,1.437064e+09,35108.186235,2.277516e+05,52.936741
std,421.260222,422.22426,421.089985,424.351558,422.553450,423.007897,422.890237,3.182689e+05,8.918668e+08,19028.835768,1.519030e+05,14.352500
min,2499.700000,2499.00000,2537.500000,2477.000000,2496.000000,2499.700000,2515.260000,2.421700e+04,9.053676e+07,2498.000000,6.959000e+03,8.370000
25%,3003.025000,3021.25000,3047.175000,2964.825000,2991.512500,2990.675000,3001.890000,2.541932e+05,8.874053e+08,22750.500000,1.296188e+05,43.565000
50%,3553.625000,3559.00000,3583.225000,3522.000000,3550.000000,3553.625000,3551.745000,3.524510e+05,1.186881e+09,31669.500000,1.867400e+05,52.930000
75%,3715.637500,3724.50000,3747.287500,3682.037500,3711.800000,3715.637500,3717.200000,5.260210e+05,1.746253e+09,42265.750000,2.910782e+05,64.350000
max,4048.950000,4084.00000,4091.950000,3995.000000,4036.050000,4048.950000,4046.970000,3.296513e+06,9.071020e+09,190938.000000,1.202023e+06,86.200000

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 493
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Symbol                  494 non-null    object
 1   Series                  494 non-null    object
 2   Date                    494 non-null    object
 3   Prev Close              494 non-null    float64
 4   Open Price              494 non-null    float64
 5   High Price              494 non-null    float64
 6   Low Price               494 non-null    float64
 7   Last Price              494 non-null    float64
 8   Close Price             494 non-null    float64
 9   Average Price           494 non-null    float64
 10  Total Traded Quantity   494 non-null    int64
 11  Turnover                494 non-null    float64
 12  No. of Trades           494 non-null    int64
 13  Deliverable Qty         494 non-null    int64
 14  % Dly Qt to Traded Qty  494 non-null    float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

In [112]:
# now check for null values in each column
df.isnull().sum()

Symbol                    0
Series                    0
Date                      0
Prev Close                0
Open Price                0
High Price                0
Low Price                 0
Last Price                0
Close Price               0
Average Price             0
Total Traded Quantity     0
Turnover                  0
No. of Trades             0
Deliverable Qty           0
% Dly Qt to Traded Qty    0
dtype: int64

### wohoo, no null values! ###

# Task 1.2 #

In [113]:
# from data csv file we can see that entries are arranged as like on head or top latest and tail side oldest
# Maximum for last 90 days
max_tail_90 = df.tail(90)['Close Price'].max()
max_tail_90

3127.6

In [114]:
#Minimun for last 90 days
min_tail_90 = df.tail(90)['Close Price'].min()
min_tail_90

2499.7

In [115]:
# mean for last 90 days
mean_tail_90 = df.tail(90)['Close Price'].mean()
mean_tail_90

2720.2794444444444

In [116]:
print('maximum price in last 90 days is: {}' .format(max_tail_90))

maximum price in last 90 days is: 3127.6

In [117]:
print('minimum price in last 90 days is: {}' .format(min_tail_90))

minimum price in last 90 days is: 2499.7

In [118]:
print('mean price in last 90 days is: {}' .format(mean_tail_90))

mean price in last 90 days is: 2720.2794444444444

# Task 1.3 #

In [119]:
df['Date'] = pd.to_datetime(df['Date'])

In [120]:
df['Date'].dtype

dtype('<M8[ns]')

In [121]:
flag= df['Date'].max() - df["Date"].min()
flag

Timedelta('728 days 00:00:00')

# Task 1.4 #

In [122]:
df['Month'] = pd.DatetimeIndex(data['Date']).month
df['Year'] = pd.DatetimeIndex(data['Date']).year

In [123]:
df['Month'].unique()

array([ 5,  6,  7,  8,  9, 10, 11, 12,  1,  2,  3,  4], dtype=int64)

In [124]:
df['Year'].unique()

array([2017, 2018, 2019], dtype=int64)

In [139]:
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum(skipna=True) / df['Total Traded Quantity'].cumsum(skipna=True)

In [140]:
VWAP=df[["Month","Year" , "VWAP"]]
vwap_value=VWAP.groupby(['Month' , 'Year'])

In [141]:
vwap_value.first()
# https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/#:~:text=data%20much%20easier.-,Pandas%20dataframe.,of%20labels%20to%20group%20names.

                   VWAP
Month Year
1     2018  3756.599953
      2019  3455.983438
2     2018  3745.538660
      2019  3398.161844
3     2018  3727.387039
      2019  3347.627234
4     2018  3710.767482
      2019  3296.578432
5     2017  3515.450000
      2018  3711.876611
      2019  3243.086996
6     2017  3641.215909
      2018  3702.347138
7     2017  3715.089552
      2018  3696.146152
8     2017  3715.225940
      2018  3644.319573
9     2017  3786.520129
      2018  3622.626217
10    2017  3801.917956
      2018  3588.078302
11    2017  3795.481532
      2018  3507.482156
12    2017  3775.065465
      2018  3478.183560

 # Task 1.5 #

In [150]:
# fxn to calculate Average price over last N days
def avg_price(N):
    avg_tail_N_days = df.tail(N)['Close Price'].mean()
    return avg_tail_N_days

In [151]:
# We can observe that Stock prices data are for weekdays only.
print("Average price for last 1 week is :", avg_price(5))
print("Average price for last 2 week is :", avg_price(10))
print("Average price for last 3 week is :", avg_price(15))
print("Average price for last 1 month is :", avg_price(20))
print("Average price for last 3 month is :", avg_price(60))
print("Average price for last 6 month is :", avg_price(120))
print("Average price for last 1 year is :", avg_price(240))

Average price for last 1 week is : 2516.5699999999997
Average price for last 2 week is : 2534.71
Average price for last 3 week is : 2576.0233333333335
Average price for last 1 month is : 2595.805
Average price for last 3 month is : 2647.7908333333335
Average price for last 6 month is : 2816.557083333333
Average price for last 1 year is : 3030.6231249999996

In [173]:
# fxn to calculate profit/loss percentage over last N days
def profit_loss_percent(N):
    profit_loss = -(df['Close Price'].tail(N).iloc[N-1] - df['Close Price'].tail(N).iloc[0])
    percentage = (profit_loss *100 )/(df['Close Price'].tail(N).iloc[N-1])
    return percentage

In [174]:
# -ve indicates loss and +ve indicates profit over the last N days
print("Profit/loss percentage for last 1 week is :", profit_loss_percent(5))
print("Profit/loss percentage for last 2 week is :", profit_loss_percent(10))
print("Profit/loss percentage for last 1 month is :", profit_loss_percent(20))
print("Profit/loss percentage for last 3 month is :", profit_loss_percent(60))
print("Profit/loss percentage for last 6 month is :", profit_loss_percent(120))
print("Profit/loss percentage for last 1 year is :", profit_loss_percent(240))

Profit/loss percentage for last 1 week is : 0.6611570247933848
Profit/loss percentage for last 2 week is : 3.714029672408643
Profit/loss percentage for last 1 month is : 3.3316738026486146
Profit/loss percentage for last 3 month is : 15.067210992731262
Profit/loss percentage for last 6 month is : 16.3855421686747
Profit/loss percentage for last 1 year is : 39.39659464303496

# Task 1.6

In [175]:
df["Day_Perc_Change"]=df["Close Price"].pct_change()
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,HEROMOTOCO,EQ,2017-05-15,3541.50,3541.0,3558.00,3504.60,3518.00,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38,5,2017,3515.450000,NaN
1,HEROMOTOCO,EQ,2017-05-16,3515.45,3529.5,3631.80,3491.10,3623.00,3619.40,3561.42,372398,1.326266e+09,33654,147610,39.64,5,2017,3581.286326,0.029569
2,HEROMOTOCO,EQ,2017-05-17,3619.40,3615.0,3683.95,3595.05,3634.10,3645.95,3651.06,338342,1.235308e+09,27003,160855,47.54,5,2017,3604.904807,0.007335
3,HEROMOTOCO,EQ,2017-05-18,3645.95,3600.0,3639.00,3577.05,3586.00,3592.05,3602.46,294013,1.059170e+09,23822,143430,48.78,5,2017,3601.807735,-0.014784
4,HEROMOTOCO,EQ,2017-05-19,3592.05,3597.0,3656.00,3533.75,3565.00,3571.65,3593.06,270446,9.717284e+08,26291,113208,41.86,5,2017,3596.336770,-0.005679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,HEROMOTOCO,EQ,2019-05-07,2531.30,2567.9,2568.00,2521.50,2529.00,2527.35,2546.23,347427,8.846276e+08,29584,129747,37.35,5,2019,3238.333135,-0.001560
490,HEROMOTOCO,EQ,2019-05-08,2527.35,2525.8,2540.85,2481.60,2496.00,2499.70,2515.26,406025,1.021259e+09,32136,176406,43.45,5,2019,3236.959421,-0.010940
491,HEROMOTOCO,EQ,2019-05-09,2499.70,2499.0,2555.00,2490.60,2540.00,2537.75,2536.33,585480,1.484972e+09,40511,203100,34.69,5,2019,3235.089295,0.015222
492,HEROMOTOCO,EQ,2019-05-10,2537.75,2535.0,2560.00,2500.05,2506.05,2507.30,2529.09,332771,8.416086e+08,23272,118956,35.75,5,2019,3233.984598,-0.011999
493,HEROMOTOCO,EQ,2019-05-13,2507.30,2507.3,2537.50,2500.00,2509.05,2510.75,2520.21,313902,7.911003e+08,23484,117837,37.54,5,2019,3232.950543,0.001376

In [176]:
df=df.fillna(0)
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
0,HEROMOTOCO,EQ,2017-05-15,3541.50,3541.0,3558.00,3504.60,3518.00,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38,5,2017,3515.450000,0.000000
1,HEROMOTOCO,EQ,2017-05-16,3515.45,3529.5,3631.80,3491.10,3623.00,3619.40,3561.42,372398,1.326266e+09,33654,147610,39.64,5,2017,3581.286326,0.029569
2,HEROMOTOCO,EQ,2017-05-17,3619.40,3615.0,3683.95,3595.05,3634.10,3645.95,3651.06,338342,1.235308e+09,27003,160855,47.54,5,2017,3604.904807,0.007335
3,HEROMOTOCO,EQ,2017-05-18,3645.95,3600.0,3639.00,3577.05,3586.00,3592.05,3602.46,294013,1.059170e+09,23822,143430,48.78,5,2017,3601.807735,-0.014784
4,HEROMOTOCO,EQ,2017-05-19,3592.05,3597.0,3656.00,3533.75,3565.00,3571.65,3593.06,270446,9.717284e+08,26291,113208,41.86,5,2017,3596.336770,-0.005679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,HEROMOTOCO,EQ,2019-05-07,2531.30,2567.9,2568.00,2521.50,2529.00,2527.35,2546.23,347427,8.846276e+08,29584,129747,37.35,5,2019,3238.333135,-0.001560
490,HEROMOTOCO,EQ,2019-05-08,2527.35,2525.8,2540.85,2481.60,2496.00,2499.70,2515.26,406025,1.021259e+09,32136,176406,43.45,5,2019,3236.959421,-0.010940
491,HEROMOTOCO,EQ,2019-05-09,2499.70,2499.0,2555.00,2490.60,2540.00,2537.75,2536.33,585480,1.484972e+09,40511,203100,34.69,5,2019,3235.089295,0.015222
492,HEROMOTOCO,EQ,2019-05-10,2537.75,2535.0,2560.00,2500.05,2506.05,2507.30,2529.09,332771,8.416086e+08,23272,118956,35.75,5,2019,3233.984598,-0.011999
493,HEROMOTOCO,EQ,2019-05-13,2507.30,2507.3,2537.50,2500.00,2509.05,2510.75,2520.21,313902,7.911003e+08,23484,117837,37.54,5,2019,3232.950543,0.001376

# Task 1.7

In [181]:
if ((df['Day_Perc_Change'] >= -0.5) & (df['Day_Perc_Change'] <= 0.5)).all():
    df['Trend'] = 'Slight or No change'
elif ((df['Day_Perc_Change'] >= 0.5) & (df['Day_Perc_Change'] <= 1)).all():
    df['Trend'] = 'Slight positive'
elif ((df['Day_Perc_Change'] <= -0.5) & (df['Day_Perc_Change'] >= -1)).all():
    df['Trend'] = 'Slight negative'
elif ((df['Day_Perc_Change'] >= 1) & (df['Day_Perc_Change'] <= 3)).all():
    df['Trend'] = 'Positive' 
elif ((df['Day_Perc_Change'] <= -1) & (df['Day_Perc_Change'] >= -3)).all():
    df['Trend'] = 'Negative'
elif ((df['Day_Perc_Change'] >= 3) & (df['Day_Perc_Change'] <= 7)).all():
    df['Trend'] = 'Among top gainers'
elif ((df['Day_Perc_Change'] <= -3) & (df['Day_Perc_Change'] >= -7)).all():
    df['Trend'] = 'Among top losers'
elif (df['Day_Perc_Change'] > 7).all():
    df['Trend'] = 'Bull run' 
elif (df['Day_Perc_Change'] < -7).all():
    df['Trend'] = 'Bear drop'

In [189]:
df["Day_Perc_Change"].min()

-0.06263048016701467

In [190]:
df["Day_Perc_Change"].max()

0.07394938694313202

In [182]:
# So there is only Slight or No change in Trend Column
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,HEROMOTOCO,EQ,2017-05-15,3541.50,3541.0,3558.00,3504.60,3518.00,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38,5,2017,3515.450000,0.000000,Slight or No change
1,HEROMOTOCO,EQ,2017-05-16,3515.45,3529.5,3631.80,3491.10,3623.00,3619.40,3561.42,372398,1.326266e+09,33654,147610,39.64,5,2017,3581.286326,0.029569,Slight or No change
2,HEROMOTOCO,EQ,2017-05-17,3619.40,3615.0,3683.95,3595.05,3634.10,3645.95,3651.06,338342,1.235308e+09,27003,160855,47.54,5,2017,3604.904807,0.007335,Slight or No change
3,HEROMOTOCO,EQ,2017-05-18,3645.95,3600.0,3639.00,3577.05,3586.00,3592.05,3602.46,294013,1.059170e+09,23822,143430,48.78,5,2017,3601.807735,-0.014784,Slight or No change
4,HEROMOTOCO,EQ,2017-05-19,3592.05,3597.0,3656.00,3533.75,3565.00,3571.65,3593.06,270446,9.717284e+08,26291,113208,41.86,5,2017,3596.336770,-0.005679,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,HEROMOTOCO,EQ,2019-05-07,2531.30,2567.9,2568.00,2521.50,2529.00,2527.35,2546.23,347427,8.846276e+08,29584,129747,37.35,5,2019,3238.333135,-0.001560,Slight or No change
490,HEROMOTOCO,EQ,2019-05-08,2527.35,2525.8,2540.85,2481.60,2496.00,2499.70,2515.26,406025,1.021259e+09,32136,176406,43.45,5,2019,3236.959421,-0.010940,Slight or No change
491,HEROMOTOCO,EQ,2019-05-09,2499.70,2499.0,2555.00,2490.60,2540.00,2537.75,2536.33,585480,1.484972e+09,40511,203100,34.69,5,2019,3235.089295,0.015222,Slight or No change
492,HEROMOTOCO,EQ,2019-05-10,2537.75,2535.0,2560.00,2500.05,2506.05,2507.30,2529.09,332771,8.416086e+08,23272,118956,35.75,5,2019,3233.984598,-0.011999,Slight or No change
493,HEROMOTOCO,EQ,2019-05-13,2507.30,2507.3,2537.50,2500.00,2509.05,2510.75,2520.21,313902,7.911003e+08,23484,117837,37.54,5,2019,3232.950543,0.001376,Slight or No change

In [183]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
count,494.000000,494.00000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000,494.000000,494.000000,494.000000,494.000000
mean,3380.030061,3385.91164,3416.863968,3343.728138,3377.351113,3377.943522,3380.096478,4.444292e+05,1.437064e+09,35108.186235,2.277516e+05,52.936741,6.485830,2017.858300,3625.070582,-0.000568
std,421.260222,422.22426,421.089985,424.351558,422.553450,423.007897,422.890237,3.182689e+05,8.918668e+08,19028.835768,1.519030e+05,14.352500,3.455131,0.694927,159.112204,0.015049
min,2499.700000,2499.00000,2537.500000,2477.000000,2496.000000,2499.700000,2515.260000,2.421700e+04,9.053676e+07,2498.000000,6.959000e+03,8.370000,1.000000,2017.000000,3232.950543,-0.062630
25%,3003.025000,3021.25000,3047.175000,2964.825000,2991.512500,2990.675000,3001.890000,2.541932e+05,8.874053e+08,22750.500000,1.296188e+05,43.565000,4.000000,2017.000000,3501.618831,-0.008417
50%,3553.625000,3559.00000,3583.225000,3522.000000,3550.000000,3553.625000,3551.745000,3.524510e+05,1.186881e+09,31669.500000,1.867400e+05,52.930000,6.500000,2018.000000,3701.323390,-0.001486
75%,3715.637500,3724.50000,3747.287500,3682.037500,3711.800000,3715.637500,3717.200000,5.260210e+05,1.746253e+09,42265.750000,2.910782e+05,64.350000,9.000000,2018.000000,3742.342859,0.007019
max,4048.950000,4084.00000,4091.950000,3995.000000,4036.050000,4048.950000,4046.970000,3.296513e+06,9.071020e+09,190938.000000,1.202023e+06,86.200000,12.000000,2019.000000,3805.713186,0.073949

# Task 1.8

In [186]:
df_2=df.groupby(["Trend"])
df_2.first()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change
Trend,,,,,,,,,,,,,,,,,,,
Slight or No change,HEROMOTOCO,EQ,2017-05-15,3541.5,3541.0,3558.0,3504.6,3518.0,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38,5,2017,3515.45,0.0

In [192]:
df_2["Total Traded Quantity"].mean()

Trend
Slight or No change    444429.172065
Name: Total Traded Quantity, dtype: float64

In [193]:
df_2["Total Traded Quantity"].median()

Trend
Slight or No change    352451
Name: Total Traded Quantity, dtype: int64

# Task 1.9

In [195]:
df.to_csv("week2.csv")